body {
background-color: #eee;
font-family: 'Crimson Text', serif;
}

.navbar {
	background-color: #fff;
}

.navbar-default .navbar-brand {
	font-family: 'Crimson Text', serif;
	font-size: 2em;
	color: #962;
}

.navbar {
	margin-bottom: 1px;
}

.navbar-default .navbar-brand span {
	font-weight: 400;
	color: #740;
}

.navbar-default .navbar-nav>li>a {
	color: #962;
}

#background-video {
min-width:100%;
}

#setor-1 {
	background-image: url('../images/super_bolo.jpg');
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 100%;
}